* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
@font-face {
  font-family: ProxCond;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: ProxThin;
  src: url(../fonts/Proxima-Nova-Thin.otf);
}
nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 92px;
}
nav .logo-white {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-white.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav .links a {
  color: white;
  text-decoration: none;
  font-family: Gill;
  font-size: 15px;
  letter-spacing: 2px;
}
nav .links a:hover {
  font-weight: bold;
  font-style: italic;
}
nav .links span {
  color: #79addc;
  margin: 0px 20px;
}

@media all and (max-width: 800px) {
  nav .logo-white {
    margin-left: 20px;
  }
  nav .links {
    margin-right: 20px;
  }
  nav .links a {
    display: inline-block;
  }
}
.about-nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 92px;
}
.about-nav .logo-black {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-black.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.about-nav .about-links {
  margin-right: 20px;
}
.about-nav .about-links a {
  color: black;
  text-decoration: none;
  font-family: Gill;
  font-size: 15px;
  letter-spacing: 2px;
}
.about-nav .about-links a:hover {
  font-weight: bold;
  font-style: italic;
}
.about-nav .about-links span {
  color: #79addc;
  margin: 0px 20px;
}

@media all and (max-width: 800px) {
  .about-nav .logo-black {
    margin-left: 20px;
  }
  .about-nav .about-links {
    margin-right: 20px;
  }
  .about-nav .about-links a {
    display: inline-block;
  }
}
.banner {
  max-width: 1280px;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .travel-fly {
  position: absolute;
  top: 180px;
}
.banner .travel-fly p {
  color: white;
  font-family: ProxThin;
  font-size: 40px;
}
.banner .lorem {
  position: absolute;
  top: 279.5px;
}
.banner .lorem p {
  color: white;
  font-family: ProxCond;
  font-size: 20px;
  text-align: center;
}
.banner .read-more {
  margin-top: 270px;
  width: 121px;
  height: 40px;
  background-color: #79addc;
  color: white;
  font-family: Gill;
  text-align: center;
  padding-top: 12px;
}

.promos {
  max-width: 800px;
  min-height: 304px;
  margin: -37px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promos .tour {
  min-width: 236px;
  min-height: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.promos .tourTxt {
  color: white;
  font-family: ProxThin;
  position: absolute;
  top: 60px;
  text-align: center;
}
.promos .t1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promos .t2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promos .t3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../images/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.promos .learn-button {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  color: white;
  font-family: Gill;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  margin-top: 58px;
}

@media all and (max-width: 818px) {
  .promos {
    width: 236px;
    height: 1022px;
    flex-direction: column;
  }
}
.tour-promos {
  max-width: 800px;
  min-height: 304px;
  margin: 0 auto 55px auto;
  display: flex;
  flex-direction: column;
}
.tour-promos .tour {
  min-width: 236px;
  min-height: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.tour-promos .tourTxt {
  color: white;
  font-family: ProxThin;
  position: absolute;
  top: 60px;
  text-align: center;
}
.tour-promos .learn-button {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  color: white;
  font-family: Gill;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  margin-top: 58px;
  cursor: pointer;
}
.tour-promos .tour-row-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.tour-promos .tour-row-one .t1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-one .t2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-one .t3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../images/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.tour-promos .tour-row-two .t4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-two .t5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-two .t6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../images/tour-06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}
.tour-promos .tour-row-three .t7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-three .t8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-08.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-promos .tour-row-three .t9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../images/tour-09.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 800px) {
  .tour-promos {
    width: 90%;
  }
}
.app .tours-hero {
  margin: 50px auto 48px auto;
  max-width: 980px;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../images/tours-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: ProxThin;
  font-size: 60px;
}

.app .tour-info {
  max-width: 980px;
  margin: 0 auto;
}
.app .tour-info .tour-info-hero {
  background-color: black;
  margin-top: 49px;
  overflow: hidden;
  position: relative;
  max-height: 413px;
}
.app .tour-info .tour-info-hero img {
  width: 980px;
  height: 413px;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.6;
  margin-bottom: -5px;
}
.app .tour-info .tour-info-hero .hero-header-text {
  font-size: 50px;
  color: white;
  font-family: ProxThin;
  position: absolute;
  top: 18px;
  left: 30px;
}
.app .tour-info .tour-info-hero .hero-price-text {
  font-size: 30px;
  color: white;
  font-family: ProxThin;
  bottom: 2px;
  right: 30px;
  position: absolute;
}
.app .tour-info .tour-info-images {
  display: flex;
  justify-content: space-between;
  min-height: 347px;
  margin-top: 40px;
  margin-bottom: 29px;
}
.app .tour-info .tour-info-images .info1 {
  width: 298px;
  min-height: 347px;
  background-color: pink;
  background-image: url(../images/israel/israel-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info2 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/israel/israel-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info3 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/israel/israel-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info4 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/usa/usa-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info5 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/usa/usa-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info6 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/usa/usa-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info7 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/australia/aus-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info8 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/australia/aus-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info9 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/australia/aus-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info10 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/new-z/nz-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info11 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/new-z/nz-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info12 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/new-z/nz-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info13 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/france/france-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info14 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/france/france-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info15 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/france/france-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info16 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/egypt/egypt-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info17 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/egypt/egypt-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info18 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/egypt/egypt-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info19 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/japan/japan-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info20 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/japan/japan-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info21 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/japan/japan-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info22 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/canada/canada-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info23 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/canada/canada-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info24 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/canada/canada-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info25 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/uae/uae-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info26 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/uae/uae-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-info-images .info27 {
  width: 298px;
  min-height: 347px;
  background-image: url(../images/uae/uae-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.app .tour-info .tour-descriptions {
  color: black;
  margin-bottom: 70px;
}
.app .tour-info .tour-descriptions .day1 .day1-header {
  font-family: ProxThin;
  font-size: 60px;
}
.app .tour-info .tour-descriptions .day1 .day1-info {
  font-family: Gill;
  font-size: 16px;
}
.app .tour-info .tour-descriptions .day2 .day2-header {
  font-family: ProxThin;
  font-size: 60px;
}
.app .tour-info .tour-descriptions .day2 .day2-info {
  font-family: Gill;
  font-size: 16px;
}
.app .tour-info .tour-descriptions .day3 .day3-header {
  font-family: ProxThin;
  font-size: 60px;
}
.app .tour-info .tour-descriptions .day3 .day3-info {
  font-family: Gill;
  font-size: 16px;
}
.app .tour-info .tour-descriptions .underline {
  width: 171px;
  height: 2px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 36.5px;
}
.app .book-button {
  margin: 0 auto;
  width: 133px;
  height: 40px;
  background-color: #79addc;
  border-radius: 50px;
  color: white;
  font-family: Gill;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 111px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .tour-info {
    width: 90%;
  }
  .tour-info .tour-info-images img {
    object-fit: none;
  }
}
.booking {
  max-width: 800px;
  min-height: 40px;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 31px;
}
.booking .bookingTxt {
  color: black;
  font-family: ProxThin;
  position: absolute;
  left: 0px;
  font-size: 20px;
}

@media all and (max-width: 800px) {
  .booking {
    display: flex;
    text-align: center;
    left: 40px;
  }
}
.form-content {
  max-width: 800px;
  min-height: 200px;
  margin: 0 auto;
  position: relative;
}
.form-content .row1 {
  max-width: 800px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-content .row1 .holder {
  position: relative;
}
.form-content .row1 .holder .long-box {
  width: 432px;
  margin-left: 17px;
  margin-top: 20px;
}
.form-content .row1 .holder input {
  width: 347px;
  height: 58px;
  padding-left: 10px;
  border: 2px solid #79addc;
}
.form-content .row1 .holder i {
  position: absolute;
  top: 20px;
  right: 10px;
}
.form-content .row2 {
  max-width: 800px;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.form-content .row2 .holder2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.form-content .row2 .holder2 .top-text {
  width: 96px;
  height: 23px;
}
.form-content .row2 .holder2 .top-text p {
  color: black;
  font-size: 18px;
  font-family: Gill;
}
.form-content .row2 .holder2 .row2-input {
  position: relative;
}
.form-content .row2 .holder2 .row2-input input {
  width: 704px;
  height: 58px;
  padding-left: 10px;
  border: 2px solid #79addc;
  color: black;
}
.form-content .row2 .holder2 .row2-input i {
  position: absolute;
  right: 0px;
  top: 20px;
  right: 20px;
}
.form-content .row3 {
  max-width: 800px;
  height: 58px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: Gill;
}
.form-content .row3 .adult {
  position: relative;
}
.form-content .row3 .adult i {
  font-size: 24px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.form-content .row3 .children {
  position: relative;
}
.form-content .row3 .children i {
  font-size: 24px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.form-content .row3 .rooms {
  position: relative;
}
.form-content .row3 .rooms i {
  font-size: 24px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.form-content .row3 input {
  width: 103px;
  height: 58px;
  background-color: white;
  border: 2px solid #79addc;
  padding-left: 10px;
  margin-left: 57px;
}

@media all and (max-width: 800px) {
  .form-content .row1 {
    margin-left: 40px;
    width: 90%;
    flex-direction: column;
  }
  .form-content .row1 .holder input {
    width: 100%;
  }
  .form-content .row1 .holder .long-box {
    width: 100%;
  }
  .form-content .row1 .holder #email {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .form-content .row1 .holder #hotel {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 800px) {
  .form-content .row2 {
    margin-left: 40px;
    width: 90%;
    height: 58px;
    flex-direction: column;
  }
  .form-content .row2 .holder2 {
    width: 100%;
  }
  .form-content .row2 .holder2 .row2-input {
    width: 100%;
  }
  .form-content .row2 .holder2 .row2-input input {
    width: 100%;
  }
}
@media all and (max-width: 800px) {
  .form-content .submit-button {
    width: 90%;
  }
}
@media all and (max-width: 800px) {
  .form-content .message-box {
    width: 90%;
  }
}
@media all and (max-width: 800px) {
  .form-content .row3 {
    width: 90%;
    margin-left: 40px;
  }
}
.message-box {
  margin: 0 auto;
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.message-box input {
  width: 800px;
  color: black;
  font-family: Gill;
  font-size: 18px;
  height: 192px;
  border: 2px solid #79addc;
  padding-bottom: 130px;
  padding-left: 10px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 813px;
  height: 60px;
  background-color: #79addc;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 100px;
  color: white;
  font-family: Gill;
  font-size: 15px;
}

.footer-template {
  margin: 0 auto;
  max-width: 1280px;
  height: 100px;
  background-color: #79addc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-template .logo-white {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-white.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 150px;
}
.footer-template .footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: ProxThin;
  font-size: 16px;
  padding-top: 16px;
}
.footer-template .footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  color: white;
  margin-right: 150px;
  font-size: 18px;
}

@media all and (max-width: 800px) {
  .footer-template {
    display: block;
    flex-direction: column;
  }
  .footer-template .logo-white {
    margin: 0 auto;
  }
  .footer-template .footer-copyright {
    margin: 0 auto;
    font-size: 10px;
  }
  .footer-template .footer-socials {
    margin: 0 auto;
    font-size: 14px;
  }
}
.about-content {
  max-width: 980px;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
}
.about-content .about-top-half {
  margin-top: 91px;
  margin-bottom: 95px;
}
.about-content .about-top-half .about-header {
  color: black;
  font-size: 60px;
  font-family: ProxThin;
}
.about-content .about-top-half .about-underline {
  width: 153px;
  height: 2px;
  background-color: black;
  margin-top: -15px;
  margin-bottom: 36px;
}
.about-content .about-top-half .about-description {
  height: 96px;
  color: black;
  font-size: 16px;
  font-family: Gill;
}
.about-content .about-bottom-half {
  margin-bottom: 179px;
}
.about-content .about-bottom-half .client-quote-header {
  color: black;
  font-size: 40px;
  font-family: ProxThin;
}
.about-content .about-bottom-half .client-underline {
  width: 190px;
  height: 2px;
  background-color: black;
  margin-top: -15px;
  margin-bottom: 36px;
}
.about-content .about-bottom-half .client-box {
  display: flex;
  max-width: 722px;
  height: 150px;
  position: relative;
  margin-bottom: 37px;
}
.about-content .about-bottom-half .client-box .client-image {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
}
.about-content .about-bottom-half .client-box .client-image img {
  width: 100%;
}
.about-content .about-bottom-half .client-box .client-quotes {
  width: 440px;
  margin-bottom: 20px;
}
.about-content .about-bottom-half .client-box .client-quotes p {
  color: black;
  font-size: 16px;
  font-family: Gill;
}
.about-content .about-bottom-half .client-box .client-name {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #79addc;
  font-family: Gill;
}

@media all and (max-width: 800px) {
  .about-content {
    width: 90%;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=styles.css.map */
