.booking {
  max-width: 818px;
  margin: 40px auto 31px auto;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $site-black;
  font-family: ProxThin;
  background-color: yellow;
}
