.banner {
  max-width: $banner-footer-width;
  min-height: $banner-height;
  background-image: linear-gradient(
      rgba($site-black, 0.34),
      rgba($site-black, 0.34)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .travel-fly {
    position: absolute;
    top: 180px;
    // background-color: pink;
    p {
      color: white;
      font-family: ProxThin;
      font-size: 40px;
    }
  }

  .lorem {
    position: absolute;
    top: 279.5px;
    p {
      color: white;
      font-family: ProxCond;
      font-size: 20px;
      text-align: center;
    }
  }

  .read-more {
    margin-top: 270px;
    width: 121px;
    height: 40px;
    background-color: $site-blue;
    color: $site-white;
    font-family: Gill;
    text-align: center;
    padding-top: 12px;
  }
}
