.app {
  .tour-info {
    max-width: $nav-width;
    margin: 0 auto;
    .tour-info-hero {
      background-color: black;
      margin-top: 49px;
      overflow: hidden;
      position: relative;
      max-height: 413px;

      img {
        width: 980px;
        height: 413px;
        object-fit: cover;
        overflow: hidden;
        opacity: 0.6;
        margin-bottom: -5px;
      }
      .hero-header-text {
        font-size: 50px;
        color: $site-white;
        font-family: ProxThin;
        position: absolute;
        top: 18px;
        left: 30px;
      }

      .hero-price-text {
        font-size: 30px;
        color: $site-white;
        font-family: ProxThin;
        bottom: 2px;
        right: 30px;
        position: absolute;
      }
    }
    .tour-info-images {
      display: flex;
      justify-content: space-between;
      min-height: 347px;
      margin-top: 40px;
      margin-bottom: 29px;
      // background-color: beige;

      .info1 {
        width: 298px;
        min-height: 347px;
        background-color: pink;
        background-image: url(../images/israel/israel-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info2 {
        width: 298px;
        min-height: 347px;
        // background-color: green;
        background-image: url(../images/israel/israel-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info3 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/israel/israel-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info4 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/usa/usa-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info5 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/usa/usa-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info6 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/usa/usa-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info7 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/australia/aus-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info8 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/australia/aus-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info9 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/australia/aus-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info10 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/new-z/nz-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info11 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/new-z/nz-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info12 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/new-z/nz-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info13 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/france/france-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info14 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/france/france-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info15 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/france/france-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info16 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/egypt/egypt-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info17 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/egypt/egypt-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .info18 {
        width: 298px;
        min-height: 347px;
        // background-color: red;
        background-image: url(../images/egypt/egypt-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .tour-descriptions {
      color: $site-black;
      margin-bottom: 70px;
      .day1 {
        .day1-header {
          font-family: ProxThin;
          font-size: 60px;
        }
        .day1-info {
          font-family: Gill;
          font-size: 16px;
        }
      }
      .day2 {
        .day2-header {
          font-family: ProxThin;
          font-size: 60px;
        }
        .day2-info {
          font-family: Gill;
          font-size: 16px;
        }
      }
      .day3 {
        .day3-header {
          font-family: ProxThin;
          font-size: 60px;
        }
        .day3-info {
          font-family: Gill;
          font-size: 16px;
        }
      }
      .underline {
        width: 171px;
        height: 2px;
        background-color: $site-black;
        margin-top: 5px;
        margin-bottom: 36.5px;
      }
    }
  }
  .book-button {
    margin: 0 auto;
    width: 133px;
    height: 40px;
    background-color: $site-blue;
    border-radius: 50px;
    color: $site-white;
    font-family: Gill;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 111px;
    cursor: pointer;
  }
}

@media all and (max-width: $home-form-width) {
  .tour-info {
    width: 90%;

    .tour-info-images {
      img {
        object-fit: none;
      }
    }
  }
}
